/* login page */
@charset "utf-8";
/* CSS Document */

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
    background-color: #2c3338;
    color: #606468;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after { clear: both; }

/* ---------- LOGIN ---------- */

#login {
    margin: 150px auto;
    width: 280px;
}

#login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    color: #606468;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

#login form span i {
   line-height: 50px;
}

#login form input {
    height: 50px;
    outline:none;
}

#login form input[type="email"], input[type="password"], #name, select {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    color: #606468;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 198px;
}

#name {
    width: 249px;
}

#login form input:focus {
    color:#fff;
}

#login form input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #ea4c88;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    cursor:pointer;
    width: 249px;
}

#login form input[type="submit"]:hover {
    background-color: #d44179;
}

#login > p {
    text-align: center;
}

#login > p span {
    padding-left: 5px;
}

/* registration page */

.alert {
    color: #d43d5b;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px;
}

.registration  label{
    display: block;
    width: 250px;
    color: #eeeeee;
    font-weight: bold;
}

.registration input {
    width: 249px;
}

.registration .login {
    width: 249px !important;
}

.successful {
    color: #0e991b;
}


/* main page */

* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #2c3338;
}

.wrapper header {
    width: 100%;
    height: 50px;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
    line-height: 50px;
    color: #545454;
}

header .logo {
    line-height: 50px;
    justify-content: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin-right: 10px;
}

header .logo a {
    text-transform: none;
    text-decoration: none;
    color: #d44179;
    padding: 5px;
    transition: 0.5s ease-in-out;
}

header .logo span {
    color: #eeeeee;
    transition: 0.5s ease-in-out;
}

header .logo:hover a {
    color: #ae3361;
}

header .logo:hover span {
    color: #ae3361;
}

header #logout {
    line-height: 50px;
    background-color: #ae3361;
    color: #eeeeee;
    padding: 0 10px 0 10px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
}

header span:hover #logout {
    background-color: #d44179;
    box-shadow: 0 5px 0 #4b1725;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.chatWrapper {
    width: 65%;
    height: auto;
}

.sidebar {
    width: 30%;
    background: #eeeeee;
}

.chatBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: #eeeeee;
}
/**/
.messages {
    width: 100%;
    height: 600px;
    padding: 20px;
    overflow: auto;
}

.messages .message {
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #eeeeee;
    color: #eeeeee;
}

.messages .me {
    flex-direction: row-reverse;
    float: right;
}

.messages .another_user {
    flex-direction: row;
}

.message .from {
    width: 15%;
    height: 50px;
    border-radius: 100%;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    line-height: 50px;
}

.me .from {
    background-color: #d44179;
}

.another_user .from {
    background-color: #d47136;
}

.message .context {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.message .context .text_message {
    min-height:30px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Open Sans', Arial, sans-serif ;
    font-weight: lighter;
    letter-spacing: 2px;
}

.message .context .block_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.me .context .text_message {
    background-color: #00008b;
    color: #eeeeee;
}

.another_user .context .text_message {
    background-color: #a2a2a2;
    color: #e5e5e5;
}

.message .context time {
    color: #606468;
    font-size: 0.8em;
    text-align: right;
    padding: 5px;
}

.another_user .context time {
    text-align: left;
}

.user_chat {
    text-decoration: none;
    text-transform: none;
    color: #606468;
}

/**/
input.msg {
    display: none;
    width: 80%;
    padding: 10px;
    border: 1px solid #3b4148;
    border-radius: 5px;
}

.inputMsg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
}

.inputMsg button {
    width: 18%;
    padding: 10px;
    border-radius: 5px;
    display: none;
    background: #0e991b;
    color: #eeeeee;
    font-weight: bolder;
    transition: 0.4s ease-in;
    cursor: pointer;
}

.inputMsg button:hover {
    background: #0e911c;
}

#start {
    display: block;
    height: 40px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 30%;
    background-color: #d44179;
    color: #eeeeee;
    z-index: 9999;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#start:hover {
    background-color: #e24385;
    box-shadow: 0 2px 5px #3b4148;
}

.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #3b4148;
    transition: all 0.5s;
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.open {
    left: 0px;
}

.side-panel h2 {
    font-size: 1.3em;
    font-weight: bolder;
    border-bottom:2px solid #eeeeee;
    text-align: center;
    text-transform: uppercase;
}

.userInfoItems {
    margin: 10px;
    font-size: 1em;
    text-align: center;
}

.userInfoItems a {
    background-color: #d44179;
    padding: 5px;
    text-transform: none;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.close {
    position: relative;
    top: 20px;
    right: 100px;
}

.userInfoItems:hover a {
    background-color: #c53f6c;
}

.back {
    display: block;
    background-color: #485e99;
    width: 249px;
    padding: 15px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
}

aside {
    text-align: center;
}

.listUsers {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}

.listUsers .user {
    padding: 5px;
    background-color: #d44179;
    color: #eeeeee;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.listUsers .user:hover {
    background-color: #9c334f;
}



/*admin panel*/

/* Table Styles */

.table-wrapper{
    width: 100%;
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td{
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table td a {
    text-transform: none;
    text-decoration: none;
    padding: 5px;
}

.fl-table td a.remove {
    color: crimson;
}

.fl-table td a.edit {
    color: #0e991b;
}

  .fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

/*edit_admin*/

select {
    display: block;
    width: 249px;
    font-weight: normal;
    padding: 10px;
    height: 50px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

.page_count {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page {
    margin: 5px;
    cursor: pointer;
}

.page a {
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    background-color: #606468;
    color: #eeeeee;
    transition: 0.4s ease-in;
}

.page:hover a {
    background-color: #969a9e;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter select {
    width: 150px;
    height: 30px;
    padding: 1px;
    color: #3b4148;
    text-align: center;
    background-color: #eeeeee;
}

.filter h2 {
    font-size: 1.2em;
    color: #eeeeee;
}

/* filter menu drop down */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border-radius: 5px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content span {
    display: block;
    padding: 6px 8px;
    background-color: #ddd;
    font-size: 1.1em;
    color: #3b4148;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    font-size: 1em;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* search*/

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inp_search {
    width: 100%;
    min-width: 250px;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #0e991b;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: #eeeeee;
    color: #898787;
}

#searchBtn {
    display: block;
    height: 42px;
    background-color: #0e991b;
    border: 1px solid #0e991b;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    font-size: 1.5em;
    padding: 8px;
    transition: 0.4s ease-in-out;
}

#searchBtn:hover {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
}


/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
}